<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         report-useless-tests="true"
         strict-coverage="true"
         disallow-test-output="true"
         strict-global-state="true"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Bindto">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
